.stretch {
            background: url(images/schoold_build.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.nav-stle {
	/*background-color: #376f96;
    border-color: #376f96;*/
    height: 9%;
}
